<div class="col-md-4">
  <div class="row">
    <div class="col-md-6">
      <div class="left-align">
        {{headline.author}}
      </div>
    </div>
    <div class="col-md-6">
      <div class="right-align">
        {{headline.tag}}
      </div>
    </div>
  </div>
  <div class="row">
    <div class="center-align">
      {{headline.headline}}
    </div>
  </div>
  <div class="row">
    <img src={{headline.image}} alt={{headline.headline}} />
  </div>
</div>
